:root {
  --font-base-line-height: 1.35;
  --font-base-size: 16px;
  --font-size-body: var(--font-base-size);
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: var(--font-base-size);
  --font-size-lg: 18px;

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;

  --font-family-body: Verdana, Geneva, Tahoma, sans-serif;
  --font-family-headings: Georgia, "Times New Roman", Times, serif;

  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-headings-semibold: 600;

  --font-size-h1: 36px;
  --font-size-h2: 32px;
  --font-size-h3: 28px;
  --font-size-h4: 24px;
  --font-size-h5: 20px;
  --font-size-h6: 16px;

  --colors-white: #ffffff;
  --colors-black: #000000;

  --primary: var(--colors-primary-7);
  --anchor-color: var(--colors-primary-9);
  --bg-color: var(--colors-gray-0);
  --fg-color: var(--colors-dark-9);
  
  --container-max-width-desktop: 1100px;
  --container-max-width-widescreen: 1200px;
}

html,
body {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  line-height: var(--font-base-line-height);
}

html {
  font-size: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--fg-color);
  background-color: var(--bg-color);
}

a {
  color: var(--anchor-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.Container-root {
  --local-width: 100%;
  --local-max-width: 92%;

  width: var(--local-width);
  max-width: var(--local-max-width);
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    --local-max-width: var(--container-max-width-desktop);
  }

  @media screen and (min-width: 1400px) {
    --local-max-width: var(--container-max-width-widescreen);
  }
}

.Flex-root {
  display: flex;
  gap: 0.5rem;
}

.Group-root {
  display: flex;
  flex-direction: row;
}

.Stack-root {
  display: flex;
  flex-direction: column;
}

.Header-logo {
  display: flex;
  align-items: center;

  & a {
    display: inline-flex;

    span {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      clip-path: inset(50%);
      border: 0;
      white-space: nowrap;
    }
  }
}

.Header-root {
  display: flex;
  align-items: center;
  padding: 0.5em;
  height: 60px;
}

.Header-nav {
  display: flex;
  gap: 0.5em;

  & a {
    font-weight: var(--font-weight-semibold);
    font-size: 0.875rem;
  }
}

.Posts-root {
  padding: 3rem 0;
}

.Posts-title {
  font-size: var(--font-size-h5);
  font-family: var(--font-family-headings);
  margin-bottom: 1.2em;
  border-bottom: 1px solid var(--colors-gray-1);

  & span {
    font-weight: var(--font-weight-bold);
    color: var(--colors-primary-8);
  }
}

.PostTags-root {
  & a {
    text-decoration: none;
    font-size: 0.75rem;
    background: var(--colors-white);
    padding: 0.0125em 0.65em;
    border-radius: 300em;
    border: 1px solid var(--colors-dark-1);

    &:hover {
      background: var(--colors-primary-9);
      color: var(--colors-white);
      border-color: var(--colors-primary-9);
    }
  }
}

.Posts-header {
  margin-bottom: 1.3em;
}

.Posts-header,
.PostPreviews-root {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}

.Posts-header h1,
.PostPreviews-root .PostPreview-root {
  @media screen and (min-width: 768px) {
    grid-column: 2 / span 10;
  }

  @media screen and (min-width: 1024px) {
    grid-column: 3 / span 8;
  }
}

.PostPreview-root {
  & .PostPreview-title {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-headings-semibold);
    font-family: var(--font-family-headings);
    margin: 0 0 0.5em 0;

    & a {
      text-decoration: none;
      color: var(--colors-dark-7);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  & .PostPreview-published {
    font-size: 0.875rem;
    color: var(--colors-primary-8);
  }

  & .PostPreview-description {
    margin-top: 1em;

    &,
    & p {
      color: var(--colors-dark-6);
    }
  }
}

.ColorSchemeSwitcher-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3000rem;

  &:hover {
    background-color: var(--colors-gray-1);
  }

  & span {
    display: inline-flex;
    font-size: 1rem;
  }

  & svg {
    width: 1.25em;
    height: 1.25em;
  }
}

.NotFound-root,
.Post-root {
  padding: 3em 0;
}

.Post-header {
  margin-bottom: 4em;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  & .Post-title,
  & > div {
    place-self: center;
    @media screen and (min-width: 768px) {
      grid-column: 2 / span 10;
    }

    @media screen and (min-width: 1024px) {
      grid-column: 3 / span 8;
    }
  }

  & .Post-cover {
    @media screen and (min-width: 768px) {
      grid-column: span 12;
    }

    @media screen and (min-width: 1024px) {
      grid-column: 2 / span 10;
    }
  }
}

.Post-published {
  font-size: 0.875rem;
  color: var(--colors-gray-6);
}

.Post-title {
  font-size: var(--font-size-h1);
  font-family: var(--font-family-headings);
  margin: 0 0 var(--spacing-md) 0;
  text-align: center;
  line-height: 1.175;
}

.Post-cover {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  margin: 2em 0 0;
  border-radius: 8px;
  overflow: hidden;

  img {
    position: absolute;
    left: -300em;
    top: -300em;
    opacity: 0;
    visibility: hidden;
    height: 0;
    width: 0;
  }
}

.Post-coverBg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-position: center;
  background-size: cover;
}

.Content-root {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & p,
  & ul,
  & ol,
  & div {
    @media screen and (min-width: 768px) {
      grid-column: 2 / span 10;
    }

    @media screen and (min-width: 1024px) {
      grid-column: 4 / span 6;
    }
  }

  pre {
    @media screen and (min-width: 768px) {
      grid-column: span 12;
    }

    @media screen and (min-width: 1024px) {
      grid-column: 3 / span 8;
    }
  }

  & h1,
  & h2,
  & h3,
  & h4 {
    font-family: var(--font-family-headings);
    color: var(--colors-dark-6)
  }

  & h1,
  & h2 {
    font-size: var(--font-size-h2);
    margin-top: 0.8em;
    margin-bottom: 1.25em;

    &.subheader {
      font-size: 1.5em;
    }
  }

  & h3 {
    font-size: var(--font-size-h3);
    margin: 1.25em 0;

    &.subheader {
      font-size: 20px;
    }
  }

  & h4 {
    font-size: var(--font-size-h4);
    margin: 1.25em 0 0.8em;

    &.subheader {
      font-size: 1.2em;
    }
  }

  & h5 {
    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-headings-semibold);
    margin: 0.8em 0 0.4em;

    &.subheader {
      font-size: 0.875em;
    }
  }

  & h6 {
    font-size: var(--font-size-h6);
    text-transform: uppercase;
    margin: 1em 0 0.4em;

    &.subheader {
      font-size: 0.75em;
    }
  }

  & .subheader {
    font-family: var(--font-family-body);
    color: var(--colors-gray-4);
  }

  & a {
    text-decoration: none;
    border-bottom: 1px dashed var(--colors-gray-3);

    &:hover {
      border-bottom-style: solid;
      border-bottom-color: var(--anchor-color);
    }
  }

  :not(pre) > code {
    font-size: 0.95em;
    background: var(--colors-gray-1);
    padding: 0.1em 0.3em;
    border-radius: 4px;
  }

  & ul,
  & ol,
  & p {
    line-height: 1.5;
    margin: 1.5em 0 1em;
    font-size: 1em;
  }

  & ul,
  & ol {
    padding-left: 2em;

    li {
      padding-bottom: 0.5em;
    }
  }

  & ul {
    list-style-type: disc;
  }

  & > *:first-child {
    margin-top: 0;
  }
}
